body{
    /*background-color: rgb(82, 82, 124);*/
    /*background-color: rgb(190, 228, 141);*/
    background-color: rgb(20, 206, 209);
    padding-left:40%;
    padding-top: 8%;
    
}

#wrapper{
    background-color: rgb(245, 243, 243);
    width: 302px;
    height: 476px;
    padding: 6px 0px;
    /*border: 1px inset rgb(214, 214, 214);*/
    border-radius: 15px;
    /*box-shadow: 10px 10px 5px rgb(97, 116, 72);*/
    /*box-shadow:3px 3px 5px 2px rgb(196, 196, 196) inset, 10px 10px 5px rgb(97, 116, 72);*/
    box-shadow:3px 3px 5px 2px rgb(196, 196, 196) inset, 10px 10px 15px rgb(14, 143, 143);
    margin: 5px;
    
    
}
h6{
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
    font-weight: bold;
    
}
#screen{
    float: right;
    text-align: right;
    font-size:34px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 3px 3px;
    width: 90%;
    height: 80px;
    background-color: rgb(120, 148, 129);
    border: 2px inset rgb(90, 112, 97);
    border-radius: 5px;
    
}
#buttons{
    /*text-align: center;*/
    padding: 6px;
    

}
#equals{
    /*float:right;*/
    width:276px;
    height:40px;
    padding: 0px;
    
}
#clear{
    background-color: rgb(173, 77, 77);
    border-bottom: 5px solid;
    border-bottom-color: rgb(109, 49, 49);
}
#clear:active{
    border-bottom: 0px;
}
.button{
    background-color: rgb(93, 91, 114);
    color: white;
    width: 60px;
    height: 60px;
    margin: 6px 6px;
    float: left;
    border-bottom: 5px solid;
    border-bottom-color: rgb(53, 52, 65);
    font-size:22px;
}
.button:active{
    border-bottom: 0px;
    
}
#footer{
    float: left;
    padding-left: 80px;
}

a{
    color: rgb(173, 77, 77);
    font-weight: bold;
}
